<% include header %>


<div class="page-header">
    <h3>选调生工作查询</h3>
</div>

<div>
    <form method="get" id="eventform">
        <div class="form-group controls">
            <label for="year">年份</label>

            <% //如果有years就做成下拉框，没有就input %>
            <% if (locals.years && years!=null) { %>
            <select name="year" id="year">
                <option value="">全选</option>
                <% for(i=0;i<years.length;i++) { %>
                <% if (locals.year && year==years[i].year) { %>
                <option value="<%= year %>" selected><%= year %></option>
                <% } else { %>
                <option value="<%= years[i].year %>"><%= years[i].year %></option>
                <% } %>
                <% } %>
            </select>
            <% } else { %>
            <% if (locals.year) { %>
            <input type="text" name="year" id="year" value="<%= year %>">
            <%  } else  { %>
            <input type="text" name="year" id="year">
            <% } %>
            <% } %>

            <label for="province">省份</label>
            <select name="province" id="province">
                <option value="">全选</option>
                <% for( i = 0;i<provinces.length;i++) {%>
                <% if (locals.province_id && province_id==i) { %>
                <option value="<%= i %>" selected> <%= provinces[i] %> </option>
                <%  } else  { %>
                <option value="<%= i %>"> <%= provinces[i] %> </option>
                <% } %>
                <% } %>
            </select>
            <input type="submit" value="查询">
        </div>
    </form>
</div>

<% if ( locals.events && events.length>0) { %>

<div class="page-header">
    <h3>查询结果 共<%= events.length %></h3>
</div>

<div>
    <table class="table table-bordered table-striped " style="table-layout: fixed;">
        <tr style="visibility: hidden;">
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>

        <tbody>
            <% // 表格每行3列  %>


            <% for (i=0;i<events.length;i+=3){ %>

            <tr>

                <div class="row col-md-4 container">
                    <% for(j = i;j<events.length && (j<i+3);j++) { %>
                    <td>

                        <% if (events[j].photofile!='') { %>
                        <div class="row col-md-8">
                            <a href="<%= events[j].photofile %>" target="_blank"> <img src="<%= events[j].photofile %>"
                                    width="200" height="150"></a>
                        </div>

                        <% } else { %>
                        <div class="row col-md-8 text-center" style="vertical-align: text-top;">
                            <h4>暂无图片</h4>
                        </div>

                        <% } %>

                        <div class="row col-md-4" style="word-wrap:break-word; ">
                            <h5><%= events[j].start_date %></h5>
                            <h5><%= provinces[events[j].province_id] %></h5>
                            <h5><%= events[j].title %></h5>
                            <a href="/event_detail?event_id=<%= events[j].event_id %>" class="text-center">
                                <h4>详情>>></h4>
                            </a>
                        </div>

                    </td>
                    <% } %>

                </div>
            </tr>

            <% } %>

        </tbody>
    </table>
</div>

<% } else if( locals.events && events.length==0){ %>
<div class="alert alert-warning " role="alert">
    <strong>未找到</strong>
</div>
<% }  %>

<% include footer %>