<% if(type== 0) { %>
<% include header %>
<% // } else if(type == 1) { %>
<% // include header_ass %>
<% } else if(type == 2 ) { %>
<% include header_stu %>
<% } %>

<div class="page-header">

    <% if(type== 0) { %>
    <h3>身份：管理员</h3>
    <%  } else if(type == 1) { %>
    <h3>身份：助管</h3>
    <% } else if(type == 2 ) { %>
    <h3>身份：学生</h3>
    <% } %>

</div>

<div class="alert alert-info" role="alert">
    <strong><%= user %></strong> ,欢迎登录!
</div>



<% if(type== 0) { %>



<div class="page-header">
    <h3>提交历史</h3>
</div>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th hidden> id </th>
                <th>序号</th>
                <th>学号</th>
                <th>时间</th>
                <th>内容</th>
                <th>状态</th>
                <th>处理</th>
                <th>删除</th>
            </tr>
        </thead>

        <tbody>

            <% for (i=0;i<comments.length;i++) { %>
            <tr>
                <td hidden> <%= comments[i].comment_id %> </td>
                <td> <%= i+1 %> </td>
                <td> <%= comments[i].user_id %> </td>
                <td> <%= comments[i].timestamp %> </td>
                <td>
                    <textarea rows="3" cols="80"><%= comments[i].content %></textarea>
                </td>

                <% if(comments[i].state==0) { %>

                <td><span class="label label-default">未处理</span> </td>
                <% } else if(comments[i].state==1) { %>
                <td><span class="label label-success">已处理</span> </td>
                <% } else { %>
                <td><span class="label label-danger">已删除</span> </td>
                <% } %>


                <td><a href="/dealcomment?comment_id=<%= comments[i].comment_id%>&user_id=<%= comments[i].user_id %>">
                        <input type="button" value="处理"></a></td>

               
                <td><a href="/delcomment?comment_id=<%= comments[i].comment_id%>">
                        <input type="button" value="删除"></a></td>
               

            </tr>

            <% } %>



        </tbody>
    </table>

</div>












<%  } else if(type == 1) { %>
<h3>身份：助管</h3>
<% } else if(type == 2 ) { %>

<div class="page-header">
    <h3>信息变动</h3>
</div>

<div>
    <form action="/addcomment?user_id=<%= user_id %>" id="addcomment" method="POST">

        <div class="form-group">
            <textarea rows="3" cols="60" id="content" name="content" maxlength="10000"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="提交">
        </div>
    </form>
</div>


<% if ( locals.comments ) { %>

<div class="page-header">
    <h3>待处理提交</h3>
</div>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th hidden> id </th>
                <th>序号</th>
                <th>时间</th>
                <th>内容</th>
                <th>状态</th>
                <th>删除</th>
            </tr>
        </thead>

        <tbody>

            <% for (i=0;i<comments.length;i++) { %>
            <tr>
                <td hidden> <%= comments[i].comment_id %> </td>
                <td> <%= i+1 %> </td>
                <td> <%= comments[i].timestamp %> </td>
                <td>
                    <textarea rows="3" cols="80"><%= comments[i].content %></textarea>
                </td>

                <% if(comments[i].state==0) { %>

                <td><span class="label label-default">未处理</span> </td>
                <% } else if(comments[i].state==1) { %>
                <td><span class="label label-success">已处理</span> </td>
                <% } else { %>
                <td><span class="label label-danger">已删除</span> </td>
                <% } %>

                <td><a href="/delcomment?comment_id=<%= comments[i].comment_id%>">
                        <input type="button" value="删除"></a></td>
            </tr>

            <% } %>



        </tbody>
    </table>

</div>

<% } %>


<% } %>
<% include footer %>