<% include header %>

<h1> 学生信息</h1>

<form method="get" id="studentform">
    <table>
        <tr>
            <th>学号</th>
            <td><input type="text" name="student_id" id="student_id"> </td>

            <th> <input type="submit" value="查询"></th>
        </tr>
    </table>
</form>

<% if ( locals.stu_info) { %>
<ul class="col_3_1">
    <label> <%= stu_info.student_id %> </label>
    <label> <%= stu_info.name %> </label>
    <label> <%= stu_info.year %> </label>
    <label> <%= stu_info.province %> </label>
</ul>
<% } else if(locals.notfound){ %>
<label> <%= notfound%> </label>
<% } %>

<% include footer %>