<% include header %>

<style type="text/css">
    tr.change:hover {
        background-color: yellowgreen
    }
</style>


<div class="page-header">
    <h3>选调生查询</h3>
</div>

<div>
    <form method="get" id="xdsform">
        <div class="form-group controls">
            <label for="year">就业年份</label>

            <% //如果有years就做成下拉框，没有就input %>
            <% if (locals.years && years!=null) { %>
            <select name="year" id="year">
                <option value="">全选</option>
                <% for(i=0;i<years.length;i++) { %>
                <% if (locals.year && year==years[i].year) { %>
                <option value="<%= year %>" selected><%= year %></option>
                <% } else { %>
                <option value="<%= years[i].year %>"><%= years[i].year %></option>
                <% } %>
                <% } %>

            </select>
            <% } else { %>
            <% if (locals.year) { %>
            <input type="text" name="year" id="year" value="<%= year %>">
            <%  } else  { %>
            <input type="text" name="year" id="year">
            <% } %>
            <% } %>

            <label for="province">就业省市</label>
            <select name="province" id="province">
                <option value="">全选</option>
                <% for( i = 0;i<provinces.length;i++) {%>
                <% if (locals.province_id && province_id==i) { %>
                <option value="<%= i %>" selected> <%= provinces[i] %> </option>
                <%  } else  { %>
                <option value="<%= i %>"> <%= provinces[i] %> </option>
                <% } %>
                <% } %>
            </select>


            <label for="xueyuan">学院</label>
            <% if (locals.xueyuans && xueyuans!=null) { %>
            <select name="xueyuan" id="xueyuan">
                <option value="">全选</option>
                <% for(i=0;i<xueyuans.length;i++) { %>
                <% if (locals.xueyuan && xueyuan==xueyuans[i].xueyuan) { %>
                <option value="<%= xueyuan %>" selected><%= xueyuan %></option>
                <% } else { %>
                <option value="<%= xueyuans[i].xueyuan %>"><%= xueyuans[i].xueyuan %></option>
                <% } %>
                <% } %>

            </select>
            <% } else { %>
            <% if (locals.xueyuan) { %>
            <input type="text" name="xueyuan" id="xueyuan" value="<%= xueyuan %>">
            <%  } else  { %>
            <input type="text" name="xueyuan" id="xueyuan">
            <% } %>
            <% } %>



            <input type="submit" value="查询">
        </div>
    </form>
</div>

<% if ( locals.students && students.length>0) { %>

<div class="page-header">
    <h3>查询结果 共<%= students.length %>人</h3>
</div>

<div>
    <table class="table table-bordered">
        <tr style="background-color:wheat;">

            <th>
                <h4>序号</h4>
            </th>

            <th>
                <a href="/xds?year=<%= year %>&province=<%= province_id %>&xueyuan=<%= xueyuan %>&sort=student_id">
                    <h4>学号</h4>
                </a>
            </th>
            <th>
                <a href="/xds?year=<%= year %>&province=<%= province_id %>&xueyuan=<%= xueyuan %>&sort=name">
                    <h4>姓名</h4>
                </a>
            </th>
            <th>
                <a href="/xds?year=<%= year %>&province=<%= province_id %>&xueyuan=<%= xueyuan %>&sort=year">
                <h4>就业年份</h4>
                </a>
            </th>
            <th>
                <a href="/xds?year=<%= year %>&province=<%= province_id %>&xueyuan=<%= xueyuan %>&sort=province">
                <h4>就业省市</h4>
                </a>
            </th>
            <th>
                <a href="/xds?year=<%= year %>&province=<%= province_id %>&xueyuan=<%= xueyuan %>&sort=xueyuan">
                <h4>学院</h4>
                </a>
            </th>
        </tr>
        <% for( i= 0;i<students.length;i++) { %>

        <a href="/student?student_id=<%= students[i].student_id %>">
            <tr class="change" onclick="location.href='/student?student_id=<%= students[i].student_id %>';">
                <td>
                    <h4><%= i+1 %></h4>
                </td>
                <td>
                    <h4> <%= students[i].student_id %> </h4>
                </td>

                <td>
                    <h4> <%= students[i].name%> </h4>
                </td>

                <td>
                    <h4> <%=  students[i].year  %> </h4>
                </td>
                <td>
                    <h4> <%=  provinces [students[i].province_id] %> </h4>
                </td>
                <td>
                    <h4> <%=  students[i].xueyuan  %> </h4>
                </td>
            </tr>
        </a>
        <% }  %>

    </table>


</div>

<% } else if( locals.students && students.length==0){ %>
<div class="alert alert-warning " role="alert">
    <strong>未找到符合条件的学生</strong>
</div>
<% }  %>

<% include footer %>